@charset "utf-8";
/*
 * Copyright © 2018, 2019 Erik Jaaniso
 *
 * This file is part of EDAMmap.
 *
 * EDAMmap is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * EDAMmap is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with EDAMmap.  If not, see <http://www.gnu.org/licenses/>.
 */

/* https://fonts.googleapis.com/css?family=Spectral+SC:400,700|Spectral:400,700&amp;subset=latin-ext */
/* latin-ext */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url(Spectral-Regular-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral Regular'), local('Spectral-Regular'), url(Spectral-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: local('Spectral Bold'), local('Spectral-Bold'), url(Spectral-Bold-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: local('Spectral Bold'), local('Spectral-Bold'), url(Spectral-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral SC Regular'), local('SpectralSC-Regular'), url(SpectralSC-Regular-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 400;
  src: local('Spectral SC Regular'), local('SpectralSC-Regular'), url(SpectralSC-Regular.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* latin-ext */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 700;
  src: local('Spectral SC Bold'), local('SpectralSC-Bold'), url(SpectralSC-Bold-ext.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Spectral SC';
  font-style: normal;
  font-weight: 700;
  src: local('Spectral SC Bold'), local('SpectralSC-Bold'), url(SpectralSC-Bold.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2212, U+2215;
}
/* https://github.com/FortAwesome/Font-Awesome/blob/master/web-fonts-with-css/css/fa-regular.css */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 400;
  src: url("fa-regular-400.woff2") format("woff2");
}
/* https://github.com/FortAwesome/Font-Awesome/blob/master/web-fonts-with-css/css/fa-solid.css */
@font-face {
  font-family: 'Font Awesome 5 Free';
  font-style: normal;
  font-weight: 900;
  src: url("fa-solid-900.woff2") format("woff2");
}

:root {
	font-size: 112.5%;
	--publication: rgba(211,211,211,1); /* LightGray */
	--gray: rgba(128,128,128,1);
	--gray-half: rgba(128,128,128,0.5);
	--link: rgba(0,0,255,1);
	--link-half: rgba(0,0,255,0.5);
	--good: rgba(0,128,0,1);
	--red: rgba(255,0,0,1);
	--medium: rgba(128,128,0,1);
	--black: rgba(0,0,0,1);
	--black-half: rgba(0,0,0,0.5);
	--background: rgba(239,239,239,1);
	--elixir: rgba(239,117,0,1);
	--elixir-half: rgba(239,117,0,0.5);
}
html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}
body {
	font-size: 1em;
	font-family: "Spectral", serif;
	background-color: var(--background);
	color: black;
	margin: 0;
	padding: 0.5rem 0;
	line-height: 1.5;
}

a {
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}
a:active {
	color: rgba(0,0,128,1);
}

/* title */

header > h1, footer > h2 {
	margin: 0.5rem;
	padding: 0.5rem 1rem;
	min-width: 31rem;
	text-align: center;
	font-family: "Spectral SC";
	background-color: var(--black);
	color: rgba(255,255,255,1);
	border-radius: 3px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
footer > h2 {
	margin-top: 1rem;
	text-align: left;
}
header > p {
	margin: 0.5rem;
	min-width: 31rem;
	text-align: center;
}
header > p > span {
	display: inline-block;
}

/* main */

article {
	display: flex;
	flex-wrap: wrap;
	min-width: 32rem;
}

article > section {
	flex: 1 1 32rem;
	padding: 0.5rem;
}
article > #description-section {
	flex: 1 1 64rem;
}

article > section > h3 {
	display: inline-block;
	margin: 0 0 1px 0;
	padding: 0.25rem 0.5rem;
	font-family: "Spectral SC";
	font-weight: normal;
	font-size: 1rem;
	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.125));
	background-color: rgba(255,255,255,1);
	box-shadow: 0 0 3px rgba(0,0,0,0.12), 0 0 2px rgba(0,0,0,0.24);
}

#name-section > h3 {
	background-color: var(--black);
	color: rgba(255,255,255,1);
}
#webpageUrls-section > h3, #docUrls-section > h3 {
	background-color: var(--link);
	color: rgba(255,255,255,1);
}
#publicationIds-section > h3 {
	background-color: var(--publication);
}
#annotations-section > h3 {
	background-color: var(--elixir);
	color: rgba(255,255,255,1);
}

article > section > div {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	padding: 0.5rem 0.5rem 0 0;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.input, .output {
	flex: 1 1 24rem;
	margin: 0 0 0.5rem 0.5rem;
}

.input {
	position: relative;
	display: flex;
}

.input > input, .input > textarea {
	flex-grow: 1;
	border-width: 1px;
	padding: 2px;
}

.more {
	color: rgba(0,0,0,0.125);
}
.more:hover, .more:focus {
	color: rgba(0,0,0,0.25);
}

#name-section .more {
	color: var(--black-half);
}
#name-section .more:hover, #name-section .more:focus {
	color: var(--black);
}
#webpageUrls-section .more, #docUrls-section .more {
	color: var(--link-half);
}
#webpageUrls-section .more:hover, #webpageUrls-section .more:focus, #docUrls-section .more:hover, #docUrls-section .more:focus {
	color: var(--link);
}
#publicationIds-section .more {
	color: var(--gray-half);
}
#publicationIds-section .more:hover, #publicationIds-section .more:focus {
	color: var(--gray);
}
#annotations-section .more {
	color: var(--elixir-half);
}
#annotations-section .more:hover, #annotations-section .more:focus {
	color: var(--elixir);
}

.more-box {
	top: 0;
	left: -0.5rem;
	right: 1.5rem;
	padding: 3.2px 3px;
	border-left: 0.5rem solid rgba(0,0,0,0.125);
}
.more:focus ~ .more-box, .more-box:focus {
	border-color: rgba(0,0,0,0.25);
}

#name-section .more-box {
	border-color: var(--black-half);
}
#name-section .more:focus ~ .more-box, #name-section .more-box:focus {
	border-color: var(--black);
}
#webpageUrls-section .more-box, #docUrls-section .more-box {
	border-color: var(--link-half);
}
#webpageUrls-section .more:focus ~ .more-box, #webpageUrls-section .more-box:focus, #docUrls-section .more:focus ~ .more-box, #docUrls-section .more-box:focus {
	border-color: var(--link);
}
#publicationIds-section .more-box {
	border-color: var(--gray-half);
}
#publicationIds-section .more:focus ~ .more-box, #publicationIds-section .more-box:focus {
	border-color: var(--gray);
}
#annotations-section .more-box {
	border-color: var(--elixir-half);
}
#annotations-section .more:focus ~ .more-box, #annotations-section .more-box:focus {
	border-color: var(--elixir);
}

.ex {
	vertical-align: top;
}
.example {
	display: inline-block;
	font-style: italic;
}

.input-medium {
	color: var(--medium);
	border-color: var(--medium);
}
.input-good {
	color: var(--good);
	border-color: var(--good);
}
.input-bad {
	color: var(--red);
	border-color: var(--red);
}

.output-medium {
	color: var(--medium);
}
.output-good {
	color: var(--good);
}
.output-bad {
	color: var(--red);
}

.output > span::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f105\ ";
}

#map {
	min-width: 32rem;
	margin-top: 0.5rem;
	text-align: center;
}
#map > span > input {
	font-family: "Spectral SC";
	font-weight: 700;
	font-size: 150%;
}

/* param tabs */

#tabs {
	position: relative;
	min-width: 31rem;
	margin: 0.5rem;
}

.tab > input {
	display: none;
}
.tab > label {
	position: relative;
	display: block;
	width: 14rem;
	padding: 1rem;
	border-left: 0.2rem solid var(--background);
	background-color: rgba(191,191,191,1);
	font-family: "Spectral SC";
	font-weight: 700;
	cursor: pointer;
	transition: border 250ms, background-color 250ms, box-shadow 250ms;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.tab > label:hover {
	border-left: 0.2rem solid rgba(0,255,255,1);
	background-color: rgba(223,223,223,1);
}
.tab > input:checked ~ label {
	border-left: 0.2rem solid rgba(0,0,255,1);
	background-color: rgba(255,255,255,1);
	box-shadow: 0 2px 0 rgba(0,0,0,0.12), 0 1px 0 rgba(0,0,0,0.24);
	z-index: 2;
}

.tab-content {
	display: none;
	position: absolute;
	top: 0;
	left: 14rem;
	width: calc(100% - 14rem);
	height: 100%;
	padding: 0 1rem;
	background-color: rgba(255,255,255,1);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	z-index: 1;
}
.tab > input:checked ~ .tab-content {
	display: block;
}

.param {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	height: 3rem;
}
.param-multiple {
	height: auto;
	padding: 0.75rem 0;
}

.param > label, .param > .label {
	width: 15rem;
	padding-right: 0.4rem;
	text-align: right;
	line-height: 1;
}
.param > label::after, .param > .label::after {
	content: " :";
}
.param-disabled > label, .param-disabled > .label, .param-disabled > label > a, .param-disabled > .label > a {
	color: gray;
}

.param > div {
	width: calc(100% - 15rem);
	min-width: 15rem;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.param > div > input, .param > div > output {
	width: calc(100% - 1.5rem);
}

.param > div > input[type=checkbox] {
	display: none;
}
.param > div > input[type=checkbox] + label::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	font-size: 1.5rem;
	vertical-align: middle;
	transition: color 250ms;
	color: var(--red);
	content: "\f204";
}
.param > div > input[type=checkbox]:not(:disabled) + label::before {
	cursor: pointer;
}
.param > div > input[type=checkbox] + label::after {
	vertical-align: middle;
	color: gray;
	content: " false";
}
.param > div > input[type=checkbox]:checked + label::before, .param > div > input[type=checkbox].checked + label::before {
	color: var(--good);
	content: "\f205";
}
.param > div > input[type=checkbox]:checked + label::after, .param > div > input[type=checkbox].checked + label::after {
	content: " true";
}
.param > div > input[type=checkbox]:disabled + label::before, .param > div > input[type=checkbox]:disabled + label::after {
	cursor: not-allowed;
}

.tooltip, .more {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	width: 1.5rem;
	height: 1.5rem;
	text-align: center;
	outline: none;
	cursor: pointer;
	background-color: rgba(255,255,255,1);
	transition: color 250ms, box-shadow 250ms;
}
.tooltip {
	border: 1px solid transparent;
	color: var(--black-half);
}
.tooltip::before, .more::before {
	content: "\f059";
}
.tooltip:hover, .more:hover {
	z-index: 3;
	box-shadow: 2px 2px 3px rgba(0,0,0,0.12), 1px 1px 2px rgba(0,0,0,0.24);
}
.tooltip:hover, .tooltip:focus {
	color: var(--black);
}
.tooltip:focus, .more:focus {
	z-index: 5;
	box-shadow: 2px 2px 0 rgba(0,0,0,0.12), 1px 1px 0 rgba(0,0,0,0.24);
}
.tooltip:focus {
	border-left-color: rgba(255,255,255,1);
	border-top-color: var(--black);
	border-right-color: var(--black);
	border-bottom-color: var(--black);
}

.param-disabled .tooltip {
	color: var(--gray-half);
}
.param-disabled .tooltip:hover, .param-disabled .tooltip:focus {
	color: var(--gray);
}
.param-disabled .tooltip:focus {
	border-top-color: var(--gray);
	border-right-color: var(--gray);
	border-bottom-color: var(--gray);
}

.tooltip-box, .more-box {
	display: none;
	position: absolute;
	outline: none;
	color: rgba(63,63,63,1);
	background-color: rgba(255,255,255,1);
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: border-color 250ms;
}
.tooltip-box {
	top: 0;
	left: 0;
	right: calc(1.5rem - 1px);
	padding: 2.5px 1px;
	border: 1px solid var(--black-half);
}
.tooltip:focus ~ .tooltip-box, .tooltip-box:focus, .more:focus ~ .more-box, .more-box:focus {
	z-index: 3;
	display: block;
}
.tooltip:focus ~ .tooltip-box, .tooltip-box:focus {
	border-color: var(--black);
}
.tooltip:hover ~ .tooltip-box, .tooltip-box:hover, .more:hover ~ .more-box, .more-box:hover {
	z-index: 4;
	display: block;
}

.param-disabled .tooltip-box {
	border-color: var(--gray-half);
}
.param-disabled .tooltip:focus ~ .tooltip-box, .param-disabled .tooltip-box:focus {
	border-color: var(--gray);
}

.description::before {
	font-family: 'Font Awesome 5 Free';
	font-weight: 900;
	content: "\f105\ ";
	color: black;
}
.def {
	color: black;
}
.value {
	font-style: italic;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
